@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Raleway:700);


h1 {
font-family: 'Poiret One', cursive;
font-size: 65px;
background-color: pink;
color: white;
padding-left: 50;
width: 100;
}
.btn {
  background-color: pink;
  color: black;
  font-size: 55;
  padding-left: 100;

}

 h2 {
   font-family: 'Raleway', sans-serif;
   font-size: 65;
   background-color: purple;
   color: white;
   width: 50;
   margin-left: auto;
   padding-left: -.5em;
 }

.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

P {
  font-family: 'raleway', sans-serif;
  font-size: 60;
  background-color: purple;
  color: white;

}


<div class="img">
<a target ="_blank" href="https://www.google.com/search?site=imghp&tbm=isch&source=hp&biw=1234&bih=579&q=running&oq=running&gs_l=img.3..0l10.1234.1974.0.2102.7.7.0.0.0.0.106.359.2j2.4.0....0...1ac.1.64.img..3.4.357.dx6ph2iKgGo#imgrc=jR6cd751aWfHeM%3A">
<img src=" https://www.google.com/search?site=imghp&tbm=isch&source=hp&biw=1234&bih=579&q=running&oq=running&gs_l=img.3..0l10.1234.1974.0.2102.7.7.0.0.0.0.106.359.2j2.4.0....0...1ac.1.64.img..3.4.357.dx6ph2iKgGo#imgrc=jR6cd751aWfHeM%3A"
</a>
