@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Raleway:700);


h1 {
font-family: 'Poiret One', cursive;
font-size: 40px;
background-color: pink;
color: white;
}


 h2 {
   font-family: 'Raleway', sans-serif;
   font-size: 18.5px;
   background-color: purple;
   color: white;
   width: 50;
   margin-left: auto;
   padding-left: -.5em;
 }

.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}
