@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Raleway:700);


h1 {
font-family: 'Poiret One', cursive;
font-size: 40px;
background-color: pink;
color: white;
padding-right: -.10;
width: auto;
}


 h2 {
   font-family: 'Raleway', sans-serif;
   font-size: 50;
   background-color: purple;
   color: white;
   width: 50;
   margin-left: auto;
   padding-left: -.5em;
 }

.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

P {
  font-family: 'raleway', sans-serif;
  font-size: 60;
  background-color: pink;
  color: white;

}
