<!DOCTYPE html>
<html>
<head>
  <title>{{page.title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="container">
  <h1 class id="pagetitile">{{page.title }}
  <a href="http://angelenaminniti.github.io/" class="btn pull-right">HOME</a></h1>

<div class="row">
  <div class="col-md-3">
    <h2><em>Interviews With Track Runners</em></h2>
    <b> Courtney Foster, Junior:</b> "Running is a love hate relationship, it takes more mental toughness then actul fitnes."
    <br>
      <b> Katie Koss, Junior:</b> "Running takes a lot out of you but in the long run, I will be healthy and feel good."
      <br>
      <b> Alex Edger, Sophomore: </b> "Running does not come easily to me, I have to work at it each and every day."
      <br>
      <b> Caroline Keegan, Sophomore: </b> I love to run because of the friends I have made from it."

<h3> Runing </h3>
<img src="run-the-day.jpg" alt="running" style=height:"204px; height: 290px;"> 

</div>



    <div class="col-md-9">
      {{content}}


    </div>
  </div>
</div>
</body>
</html>
