<!DOCTYPE html>
<html>
<head>
  <title>{{page.title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="container">
  <h1>{{page.title }}</h1>



<div class="row">
  <div class="col-md-3">
    <h2><em>Interviews With Track Runners</em></h2>
    <b> Courtney Foster, Junior:</b> "Running is a love hate relationship, it takes more mental toughness then actul fitnes."
    <br>
      <b> Katie Koss, Junior:</b> "Running takes a lot out of you but in the long run, I will be healthy and feel good."
      <br>
      <b> Alex Edger, Sophomore: </b> "Running does not come easily to me, I have to work at it each and every day."
      <br>
      <b> Caroline Keegan, Sophomore: </b> I love to run because of the friends I have made from it."

</div>


    <div class="col-md-9">
      <h2> {{content}} </h2>
       Running is among the best aerobic exercises for physical conditioning of your heart and lungs. It helps ensure the efficient flow of blood and oxygen throughout the bod.
       Running proven to help to decrease the risk of a heart attack.
       Running -- like other types of exercise -- is a great stress-reliever and may even relieve mild depression
       Research shows that healthy adults who exercise regularly are generally happier than those who don't. As a runner, you'll likely feel more energetic and creative.
       Running helps you improve your fitness and stamina. As a weight-bearing exercise,
       running also increases bone density, which can fend off osteoporosis.
       <br>
       <h2> Social Benefits </h2>
      Many people run because they like to socialize and be part of a running community. Running clubs and charity training groups
      give people the opportunity to meet and train with other people.
      Some runners participate in local events or travel to race destinations with their running buddies.
      <br>
      <h2> Career Benefits </h2>
      While some deals are sealed on the golf course, plenty of important business conversations have also taken place between runners on the road.
      Running with co-workers, clients -- even your boss -- is a great way to network and build your professional relationships in an unassuming way. Meeting new people through running is also a great way to expand your 
      professional circles and potentially find a new job or other business opportunities.

    </div>
  </div>
</div>
</body>
</html>
