<!DOCTYPE html>
<html>
<head>
  <title>{{page.title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="container">
  <h1>{{page.title }}</h1>



<div class="row">
  <div class="col-md-3">
    <h2><em>Interviews With Track Runners</em></h2>
    <b> Courtney Foster, Junior:</b> "Running is a love hate relationship, it takes more mental toughness then actul fitnes."
    <br>
      <b> Katie Koss, Junior:</b> "Running takes a lot out of you but in the long run, I will be healthy and feel good."
      <br>
      <b> Alex Edger, Sophomore: </b> "Running does not come easily to me, I have to work at it each and every day."
      <br>
      <b> Caroline Keegan, Sophomore: </b> I love to run because of the friends I have made from it."

</div>


    <div class="col-md-9">
      <h2> {{content}} </h2>
       Running is among the best aerobic exercises for physical conditioning of your heart and lungs. It helps ensure the efficient flow of blood and oxygen throughout the bod.
       Running proven to help to decrease the risk of a heart attack.
       Running -- like other types of exercise -- is a great stress-reliever and may even relieve mild depression

    </div>
  </div>
</div>
</body>
</html>
